.calendar {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;

  }
  
  .calendar table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .calendar th,
  .calendar td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  .calendar th {
    background-color: #f2f2f2;
  }
  
  .calendar th:first-child,
  .calendar td:first-child {
    text-align: left;
    width: 100px;
  }
  
  .calendar td div {
    margin-bottom: 5px;
  }
 
.eventOptions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 8px;
    color:red;
  }
  
  .eventOptions span {
    cursor: pointer;
  }
  